body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#legend {
  font-family: "Open Sans", sans-serif;
}

#l1 {
  background: #e784f0;
}
#l2 {
  background: #bb74f1;
}
#l3 {
  background: #a46af1;
}
#l4 {
  background: #895ff1;
}
#l5 {
  background: #6a55f1;
}
#l6 {
  background: #4150f1;
}
