body {
  margin: 0;
  padding: 0;
}

#map {
  position: absolute;
  bottom: 0;
  width: 100%;
}

#legend {
  font-family: "Open Sans", sans-serif;
}

#l1 {
  background: #fad249;
}
#l2 {
  background: #f1b141;
}
#l3 {
  background: #e08438;
}
#l4 {
  background: #d55866;
}
#l5 {
  background: #ce3669;
}
#l6 {
  background: #883057;
}
